#container{
  width: 85%;
  margin: auto;
}
#header{
  padding-top: 20px;;
  background-color:#d5eae9;
}

#footer{
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #51c1b9;
}

#text1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: freestyle script;
  font-size: 70px;
  text-align: center;
  color: #28b7ba;
}

#text2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: #28b7ba;
}

#text3 {
  margin: auto;
  margin-bottom: 40px;
  margin-top:40px;
  width: 50%;
  padding-bottom: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: #28b7ba;
}

#text4 {
  margin: auto;
  margin-bottom: 40px;
  margin-top:40px;
  width: 50%;
  padding: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: #28b7ba;
}

#text5 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  color: #28b7ba;
}

#text6 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  color: #28b7ba;
}

#u {
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: underline;
}

a{
  color: grey;
}

#subtext1 {
  font-family: "Lucida Console", Monaco, monospace;
  color: #28b7ba;
}

#subtext2 {
  font-family: "Lucida Console", Monaco, monospace;
  color: #28b7ba;
}

#paragraph1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#paragraph2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#image1 {
  display: block;
  margin-left: auto;
  margin-right: 300px;
  margin-bottom: 40px;
  width: 15%;
}

#image2 {
  display: block;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 40px;
  width: 15%;;
}

#image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#image4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 15%;
}

#image5 {
  width: 75%;
}

#image6 {
  width: 50%;
  margin-left: 50%;
}


#hr1{
  border: 0px;
  line-height:2px;
  margin-left: 480px;
  margin-right: 480px;
  border-top:9px dotted whitesmoke;
 
}

#hr2{
  border: 0px;
  line-height:2px;
  margin-left: 480px;
  margin-right: 480px;
  border-top:7px dotted whitesmoke;
}


#table1{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#table2{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#table3{
  margin: auto;
}

#button {
  background-color: darkturquoise;
  border-radius: 10%;
  border: none;
  padding: 15px 32px;
  margin-left: 42%;
  margin-right: 42%;
  margin-bottom: 40px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: white;
}

.copyright{
  margin: auto;
  width: 50%;
  padding: 30px;
  text-align: center;
  color: white;
}
