#container{
  width: 85%;
  margin: auto;
  font-family: 'Merriweather', serif;
}

#header{
  padding-top: 20px;;
  background-color:#d5eae9;
}

#footer{
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #51c1b9;
}

#text1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Sacramento', cursive;;
  font-size: 70px;
  text-align: center;
  color: #28b7ba;
}

#text2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #28b7ba;
}

#text3 {
  margin: auto;
  margin-bottom: 40px;
  margin-top:40px;
  width: 50%;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #28b7ba;
}

#text4 {
  margin: auto;
  margin-bottom: 40px;
  margin-top:40px;
  width: 50%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #28b7ba;
}

#text5 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #28b7ba;
}

#text6 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #28b7ba;
}

#u {
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: underline;
}

#subtext1 {
  font-family: 'Merriweather', serif;
  color: #28b7ba;
}

#subtext2 {
  font-family: 'Merriweather', serif;
  color: #28b7ba;
}

#paragraph1 {
  margin: auto;
  width: 50%;
  padding: 7px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

#paragraph2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

#image1 {
  display: block;
  margin-left: auto;
  margin-right: 300px;
  margin-bottom: 40px;
  width: 15%;
}

#image2 {
  display: block;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 40px;
  width: 15%;;
}

#image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#image4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 15%;
}

#image5 {
  width: 85%;
}

#image6 {
  width: 50%;
  margin-left: 50%;
}


#hr1{
  border: 0px;
  line-height:2px;
  margin-left: 480px;
  margin-right: 480px;
  margin-top:100px;
  margin-bottom:100px;
  border-top:9px dotted whitesmoke;
 
}

#hr2{
  border: 0px;
  line-height:2px;
  margin-left: 480px;
  margin-right: 480px;
  margin-bottom:100px;
  border-top:7px dotted whitesmoke;
}


#table1{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#table2{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#table3{
  margin: auto;
}

a{
  color:White;
  text-decoration: none;
  border: none;
}

#button {
  background-color: #11BFC6;
  border: none;
  border-radius:7%;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 438px;
  margin-right:400px;
}

#button:hover {
  background-color: #e7e7e7;
}


.footer-link{
  font-family: Montserrat, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color:#219b9c;
  text-align: center;
}

.footer-link:hover{
  color: white;
}

#footer{
  padding-top:50px;
  padding-bottom:50px;
}

.copyright{
   font-family: 'Merriweather', serif;
  margin: auto;
  width: 50%;
  padding: 30px;
  text-align: center;
  color: white;
}